@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");


body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    text-align: center;
}

nav {
    display: flex;
    padding: 2.2rem;
    align-items: center;
    justify-content: space-between;
    inset: 0 0 auto 0;
    background-color: #be07077a;
    border-radius: 20px;
}

h1 {
    font-size: 2.1rem
}

th {
    font-size: 1.17em;
    font-weight: bold;
}

@media screen and (max-width: 600px) {
    nav {
        flex-direction: column;
    }
    
}

.icon-space{
    display: flex;
    gap: 1rem;
}

#logo {
    border-radius: 50%;
}

main {
    padding: 2rem;
}

.countdown-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.countdown-container img {
    border-radius: 20px;
    height: 40vh;
}

.todo-table {
    margin-left: auto;
    margin-right: auto;
}

address {
    padding: 2rem;
    text-align: center;
    font-style: normal;
    color: darkblue;
}