name: Post every 24 hours

on:
  schedule:
    - cron: "0 0 * * *" # every 24 hours
  
  workflow_dispatch:

jobs:
  create-post-image:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v5

    - name: Setup Python
      uses: actions/setup-python@v6
      with:
        python-version: "3.12"

    - name: Install Python dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
      working-directory: image_gen_PY

    - name: Download Image Log file
      uses: dawidd6/action-download-artifact@v9
      with:
        name: image_log
        path: ./image_gen_PY/
        if_no_artifact_found: warn
        search_artifacts: true
    
    - name: Run Python script
      run: python image_gen.py
      env:
        UNSPLASH_CLIENT_ID: ${{ secrets.UNSPLASH_CLIENT_ID }}
      working-directory: image_gen_PY

    - name: Upload Image Log file
      uses: actions/upload-artifact@v4
      with:
        name: image_log
        path: ./image_gen_PY/image_log.txt
    
    - name: Upload post image to artifact
      uses: actions/upload-artifact@v4
      with:
        name: post_image
        path: currentImage.png

  deploy-website:

    runs-on: ubuntu-latest
    needs: create-post-image

    permissions:
      pages: write
      id-token: write

    environment:
        name: github-pages
        url: ${{ steps.deployment.outputs.page_url }}

    steps:
    - name: Check repository
      uses: actions/checkout@v5

    - name: Download post image
      uses: actions/download-artifact@v5
      with:
        name: post_image

    - name: Put post image into website
      run: cp currentImage.png ./html/

    - name: Upload website to artifact
      uses: actions/upload-pages-artifact@v4
      with:
        path: ./html

    - name: Deploy website
      id: web-deployment
      uses: actions/deploy-pages@v4

    

  post-to-bsky:

    runs-on: ubuntu-latest
    needs:  create-post-image

    steps:
    - name: Checkout repository
      uses: actions/checkout@v5

    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: 20

    - name: Install npm dependencies
      run: npm install
      working-directory: bluesky_post_TS
        
    - name: Download post image
      uses: actions/download-artifact@v5
      with:
        name: post_image

    - name: Create Bluesky post
      run: npm run start
      env:
        BSKY_HANDLE: ${{ vars.BSKY_HANDLE }}
        BSKY_PASSWORD: ${{ secrets.BSKY_PASSWORD }}
      working-directory: bluesky_post_TS

  post-to-threads:

    runs-on: ubuntu-latest
    needs:  deploy-website

    steps:
    - name: Checkout repository
      uses: actions/checkout@v5

    - name: Setup Python
      uses: actions/setup-python@v6
      with:
        python-version: "3.12"

    - name: Install Python dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
      working-directory: threads_post_PY

    - name: Create Threads post
      run: python threads_post.py
      env:
        THREADS_USER_ID: ${{ secrets.THREADS_USER_ID }}
        THREADS_ACCESS_TOKEN: ${{ secrets.THREADS_ACCESS_TOKEN }}
      working-directory: threads_post_PY
